$slide_0_begin: 0;
$slide_0_duration: 900;
$slide_0_end: $slide_0_begin + $slide_0_duration;

$slide_1_begin: 0;
$slide_1_duration: 900;
$slide_1_end: $slide_1_begin + $slide_1_duration;

$slide_2_begin: $slide_1_end;
$slide_2_duration: 1100;
$slide_2_end: $slide_2_begin + $slide_2_duration;

$slide_3_begin: $slide_2_end;
$slide_3_duration: 1000;
$slide_3_end: $slide_3_begin + $slide_3_duration;

$slide_4_begin: $slide_3_end;
$slide_4_duration: 2100;
$slide_4_end: $slide_4_begin + $slide_4_duration;
