body {
  margin: 0;
}

svg {
  width: 120%;
  height: 120%;
}

#svg_uno {
  /*fill: none;*/
  stroke: black;
  stroke-width: 3;
  stroke-dasharray: 3000;
  stroke-dashoffset: 0;
}

.description-overlay {
 opacity: 0;
  -webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;
}

.image-box:hover .description-overlay {
  opacity: 1;
}