body {
  margin: 0;
}

svg {
  width: 120%;
  height: 120%;
}

#svg_uno {
  fill: none;
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: 4000;
  stroke-dashoffset: 0;
}

#svg_dos {
  /*fill: none;*/
  stroke: black;
  stroke-width: 3;
  stroke-dasharray: 3000;
  stroke-dashoffset: 0;
}
