
h1 {
  color: rgba(1,1,1, 0.2);
  font-family: 'Val Stencil';
  font-size: 100px;
  position: absolute;
  z-index: 10;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

@keyframes invert {
  from {-webkit-filter: invert(0%)};
  to {-webkit-filter: invert(100%)};
}

#background {
  height: 900px;
  background-image: url('../assets/DSC00272.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  position: relative;
  -webkit-filter: invert(100%);
  -webkit-animation: invert 8s;
  /*-webkit-animation-delay: 3s;*/
/*  -moz-animation: invert 1.1s;
  -ms-animation: invert 1.1s;
  -o-animation: invert 1.1s;*/
}

#content {
  position: absolute;
  top: 0;
}
/*
#lionsdwarf {
  color: darkgrey;
}*/

.categories {
  position: absolute;
  left: 44em;
  z-index: 20;
}

.project-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-repeat: no-repeat;
}

.typed {
  color: grey;
  font-family: 'Arial';
  font-size: 30px;
}

.typed-cursor{
  font-size: 30px;
  color: white;
  opacity: 1;
  font-weight: 100;
/*  -webkit-animation: blink 1.1s infinite;
  -moz-animation: blink 1.1s infinite;
  -ms-animation: blink 1.1s infinite;
  -o-animation: blink 1.1s infinite;
  animation: blink 1.1s infinite;*/
}
/*@-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-ms-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}*/