body {
  margin: 0;
}

svg {
  width: 120%;
  height: 120%;
}

#svg_uno {
  /*fill: none;*/
  stroke: black;
  stroke-width: 3;
  stroke-dasharray: 3000;
  stroke-dashoffset: 0;
}

.project-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-repeat: no-repeat;
}