#intro-slide {
  background-color: rgba(255,105,180, 0.85);
}

.intro-slide-svg svg { 
  fill: none;
  stroke: black;
  stroke-width: 3;
  stroke-dashoffset: 0;
  position: absolute;
}

#leinsdorf-svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#leinsdorf {
  stroke-dasharray: 8000;
}

#leinsdorf-i {
  stroke-dasharray: 100;
}
/*
#welcome-excl-pt {
  stroke-dasharray: 1100;
}*/

#nyc {
  stroke-dasharray: 400;
}

#nyc-dot {
  stroke-dasharray: 200;
}

#leinsdorf-duplicates {
  stroke-dasharray: 80000;
}

.centered {
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}

#arrow-wrapper {
  margin-top: 3em;
  width: 79px;
}

#arrow-scroll-wrapper {
  top: 80%;
  width: 200px; 
}

#pls-scroll-wrapper {
  opacity: 0;
}

#pls-scroll {
  width: 7em;
}
